* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration-line: line-through;
}

#main-image p {
    font-size: 3rem;
}

p {
    font-size: 1.4rem;
    font-weight: 600;
}

.active-page {
    text-decoration-line: line-through;
}

.hidden {
    display: none !important;
}

textarea {
    margin-left: 1rem;
}

.no-border {
    border: none !important;
}
